h1{
    color:green;
    background-color: yellow
}


.mini-header{
    color: aqua
}

.menu-wrapper   li{
    list-style-type: none;
    float: left;
    width: 100px;
    height: 20px;
    margin: 10px;
    
}

.head{
    height: 100px;
    width: 940px;
    background-color: bisque
}

.menu-wrapper ul{
    background-color: burlywood;
    height: 50px;
    width: 900px;
}

.menu-wrapper{
    background-color: burlywood;
    width: 900px;
}

.box-css{
    height: 400px;
    width: 250px;
    background-color: aqua;
    margin: 20px;
    float: left;
}

